@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'DepartureMono';
    src: url("../fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("../fonts/DepartureMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@layer base {
    html {
        font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    }

    body {
        @apply text-stone-950 dark:text-stone-100 bg-stone-50 dark:bg-stone-950 selection:bg-pink-700 selection:text-stone-50;
    }
}

@layer components {
    .frame {
        @apply rounded-md border border-stone-700 bg-stone-50/90 p-2 dark:border-pink-800 dark:bg-stone-950/90 transition-colors duration-500;
    }

    .btn-primary {
        @apply rounded-md bg-pink-700 px-4 py-2 font-semibold text-stone-50 transition-colors duration-500 hover:bg-pink-900 dark:bg-pink-700 dark:hover:bg-pink-900
    }

}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 8px; /* Custom scrollbar width */
        height: 8px; /* Custom scrollbar height */
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #d6d3d1; /* Track color */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: #db2777; /* Thumb color */
        border-radius: 1px; /* Rounded corners */
        border: 1px solid #9d174d; /* Adds padding around thumb */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background-color: #ec4899; /* Thumb color on hover */
    }
}